@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

html{
    min-height: 100%;
    position: relative;
}

.nav{
    background-image: linear-gradient(180deg, #cacbc9 0, #a5a2ad 50%, #7f7c92 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 5px 10%;
    position: sticky;
    top: 0;
}

.nav__logo{
    cursor: pointer;
}

.nav__img{
    height: 70px;
    width: auto;
    transition: 0.3s;
}

.nav__img:hover{
    transform: scale(1.2);
}

.nav__links{
    list-style: none;
}

.nav__link{
    display: inline-block;
    padding: 0 20px;
    transition: 0.2s;
}

.nav__link:hover{
    transform: scale(1.2);
}

.nav .nav__link a{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}

.nav .nav__link a:hover{
    text-decoration: underline #3b0086;
}

.nav__link-active{
    transform: scale(1.2);
    text-decoration: underline #3b0086;   
}

.nav__btn{
    border: 0;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    padding: 9px 25px;
    background: none;
    border: 3px solid #C1292E;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.nav__btn:hover{
    background: #C1292E;
    color: #fff;
    transform: scale(1.2);
}

.foot{
    width: 100%;
    background-image: linear-gradient(0deg, #cacbc9 0, #a5a2ad 50%, #7f7c92 100%);
    /* position: absolute; */
    bottom: 0;
    margin-top: 20px;
}

.foot__copy{
    padding: 20px 10px;
    text-align: center;
}

.foot__copy small{
    font-size: 15px;
}

.menu__titulo{
    font-size: 35px;
    font-weight: 800;
    text-align: center;
    margin: 10px 0;
}

.menu__contenedor-img{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
}

.menu__item{
    display: inline;
}


.menu__contenedor-txt{
    width: 60%;
    margin: 0 auto;
    padding: 5px 5px;
    border: 3px solid #000;
    font-size: 20px;
}

.titulo{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.titulo__invisible{
    height: 100%;
    width: auto;
    visibility: hidden;
}

.titulo__principal{
    height: 100%;
    width: auto;
}

.opcion{
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opcion__a{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

.titulo__opcion{
    height: 60%;
    width: auto;
    opacity: .6;
    transition: all .4s;
}

.titulo__opcion:hover{
    height: 90%;
    width: auto;
    opacity: 1;
}

.menu__img{
    -webkit-filter: grayscale(100%); /*Chrome 19+ & Safari 6+*/
    -webkit-transition: all .7s ease; /*Fade to color for Chrome and Safari*/
    -moz-transition: all .7s ease;
    -webkit-backface-visibility: hidden; /*Fix for transition flickering*/
}

.menu__img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    }

.contenedor__forms{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.form{
    margin: 15px 0;
    width: 80%;
    border: 3px solid #000;
}

.form__row{
    width: 100%;
    display: block;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.form__label{
    font-size: 25px;
    width: 25%;
    font-weight: 500;
    color: transparent;
    -webkit-text-stroke: 2px #000;
    text-shadow: 0 0 0.2em #3b0086;
}

.form__input{
    width: 60%;
    font-size: 20px;
    border: 2px solid #000;
    transition: all .3s;
}

.form__input:focus{
    width: 70%;
    border: 2.5px solid #3b0086;
}

.form__foot{
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

.btn__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .4s;
}

.form__img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__img-pic{
    width: 120px;
}

.btn__form-img{
    width: 120px;
    display: block;
    margin: 10px 0;
}

.btn__form-salir{
    border: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: none;
    text-decoration: none;
    text-align: center;
    border: 3px solid #fe3535;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn__form-añadir{
    border: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: none;
    border: 3px solid #66bb00;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn__form-editar{
    border: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: #000;
    padding: 9px 25px;
    background: none;
    border: 3px solid #ffd400;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.btn__form:hover{
    scale: 1.1;
}

.btn__form-añadir:hover{
    background: #66bb00;
    color: #fff;
}

.btn__form-salir:hover{
    background: #fe3535;
    color: #fff;
}

.btn__form-editar:hover{
    background: #ffd400;
    color: #fff;
}

.form__img-inv{
    width: 200px;
}

.contenedor__buscar{
    width: 100%;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}

.form__buscar{
    margin: 15px 0;
    width: 80%;
}

.img__buscar{
    width: 50px;
    margin: 5px;
}

.table__contenedor{
    margin: 50px auto;
    width: 1300px;
}

.table__consultar{
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    width: 100%;  
}

.table__consultar th, td{
    padding: 15px;
}

.table__consultar thead{
    background-color: #a5a2ad;
    border-bottom: 5px solid #000;
    font-weight: 600;
    color: #000;
}

.table__consultar tr:nth-child(even){
    background-color: #cacbc9;
}

.table__consultar tr:hover td{
    background-color: #7f7c92;
    color: #fff;
}

.table__img{
    width: 40px;
    height: auto;
    transition: all .3s;
}

.table__img:hover{
    scale: 1.2;
}

.contenedor__search{
    width: 100%;
    margin: 10px 0;
    display: flex;
}


.form__warning{
    color: #ffd400;
    text-shadow: #3b0086;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.form__search{
    margin: 15px 0;
    width: 50%;
}

.form__search__img{
    margin: 15px 0;
    width: 50%;
}

.form__row{
    width: 100%;
    display: block;
    margin: 20px;
    display: flex;
    justify-content: center;
}

.contenedor__ventas{
    width: 100%;
    display: flex;
}

.contenedor__ventas__left{
    width: 50%;
    display: flex;
    justify-content: left;
}

.contenedor__ventas__right{
    width: 50%;
    display: flex;

    justify-content: center;
}

.table__ventas{
    margin: 50px auto;
    width: 700px;
}

.table__ventas__prod{
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    width: 100%;  
}

.table__ventas__prod th, td{
    padding: 15px;
}

.table__ventas__prod thead{
    background-color: #a5a2ad;
    border-bottom: 5px solid #000;
    font-weight: 600;
    color: #000;
}

.table__ventas__prod tr:nth-child(even){
    background-color: #cacbc9;
}

.form__warning{
    color: #ffd400;
    text-shadow: #3b0086;
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

.table__ventas__prod tr:hover td{
    background-color: #7f7c92;
    color: #fff;
}

.table__ventas__ventas{
    background-color: #fff;
    text-align: left;
    border-collapse: collapse;
    width: 100%;  
}

.table__ventas__ventas th, td{
    padding: 15px;
}

.table__ventas__ventas thead{
    background-color: #a5a2ad;
    border-bottom: 5px solid #000;
    font-weight: 600;
    color: #000;
}

.table__ventas__ventas tr:nth-child(even){
    background-color: #cacbc9;
}

.table__ventas__ventas tr:hover td{
    background-color: #7f7c92;
    color: #fff;
}

.ventas__img{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}

.btn__vender{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn__vender-img{
    width: 100px;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.btn__vender-compra{
    border: 0;
    width: 100%;
    font-size: 15px;
    font-weight: 800;
    color: #fff;
    padding: 9px;
    background: #000;
    cursor: pointer;

}